<a href="https://colab.research.google.com/github/AngelN601/AngelN601/blob/main/Tarea_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
ADT Array.
ilysou df us uisdf ksdhf ksf
sdkufh dsufhsd
sdjkfhkds f
sd ifhsdlhf 
"""

class Array():
  def __init__(self, tamano):
    self.__tamano = tamano
    self.__data = [0 for x in range(self.__tamano)]  #generator

  def get_item( self , index ):
    return self.__data[index]

  def to_string(self):
    print(self.__data)

  def set_item(self, index , valor):
    if self.__check_limits__(index):
      self.__data[index]= valor
    else:
      raise Exception('Error de limites en index')

  def clear(self, valor):
    self.__data= [valor for x in range(self.__tamano)]

  def get_length( self ):
    return self.__tamano

  def __check_limits__(self, index ):
    return index >=0 and index < self.__tamano

In [102]:
ejemplo = Array(5)
ejemplo.to_string()
ejemplo.get_item(3)

[0, 0, 0, 0, 0]

0

In [3]:
lista = Array(10)

lista.set_item( 0 , 33) 
lista.set_item( 1 , 3) 
lista.set_item( 2 , 88) 
lista.set_item( 3 , 42) 
lista.set_item( 4 , 12) 
lista.set_item( 5 , 28) 
lista.set_item( 6 , 14) 
lista.set_item( 7 , 100) 
lista.set_item( 8 , 1) 
lista.set_item( 9 , 60) 

for indice in range(lista.get_length() ):
  print(lista.get_item(indice) )

#lista.clear(-1)

for indice in range( lista.get_length() ):
  print(lista.get_item( indice ))

33
3
88
42
12
28
14
100
1
60
33
3
88
42
12
28
14
100
1
60

#Métodos de búsqueda y ordenamiento.


Busqieda lineal.
- De el recorrido desde la posicion 0 hasta la posición n-1 buscado un valor dado por el usuario.

- Es un algoritmo simple pero ineficiente.

- No se sabe la complejidad porque depende de los datos internos.

In [4]:
valor_a_buscar = int (input("Que valor quieres buscar? "))
encontrado = False
for indice in range( lista.get_length() ):
  if valor_a_buscar == lista.get_item(indice):
    print("El elemento se encuentra en la posición:", indice)
    encontrado = True
    break

if encontrado:
  print("El elemento si existe en el arreglo")
else:
  print("El elemento no esta en el arreglo")

Que valor quieres buscar? 444
El elemento no esta en el arreglo

# Método de la burbuja

In [5]:
!ls ./sample_data/

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [7]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [116]:
#Hacerlo 3 veces sin ver
archivo = open('junio.dat','rt', encoding='latin-1') #
print( archivo.read() )

"""
read() --> Lee todo el archivo y lo regresa como un solo String(str)
readline() --> Lee la siguiente linea hasta el siguiente salto de linea (\n)
readlines() --> Lee todo el archivo lo separa por lineas y el resultado lo mete en un list de python

"""
print("Probando readline")
archivo2 = open('junio.dat','rt',encoding='latin-1')
print( archivo2.readline() )
print( archivo2.readline() )
print( archivo2.readline() )

archivo3 = open('junio.dat','rt',encoding='latin-1')
print("Probando readlines() ")
#print( archivo3.readlines())
info = archivo3.readlines()

for index in range( len(info) ):
  info[index] = info[index].rstrip('\n').split(',')
  print(info[index])

print(info)
print("Sueldos")
for trab in info:
  print(trab[6])

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016
Probando readline
numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso

2345,CARLOS,PEREZ,CASTILLO,0,9850,2017

5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020

Probando readlines()
['numero de trabajador', ' nombres', ' paterno', ' materno', ' horas extra', ' sueldo base', ' aÃ±o de ingreso']
['2345', 'CARLOS', 'PEREZ', 'CASTILLO', '0', '9850', '2017']
['5754', 'ANGEL', 'GOMEZ', 'GARRIDO', '1', '9850', '2020']
['5345', 'JESUS', 'MARTIN', 'SANTOS', '2', '9850', '2016']
['3267', 'DAVID', 'JIMENEZ', 'LOZANO', '2', '9850', '2017']
['8765', 'PEDRO', 'RUIZ', 'GUERRERO', '2', '9850', '2017']
['5454', 'DANIEL', 'HERNANDEZ', 'CANO', '3', '9850', '2018']
['3456', 'ALEJANDRO', 'DIAZ', 'PRIETO', '2', '9850', '2018']
['3445', 'MARIA', 'MORENO', 'MENDEZ', '1', '9850', '2018']
['9088', 'ALBERTO', 'MU\x84OZ', 'CRUZ', '1', '9850', '2017']
['8877', 'RAFAEL', 'ALVAREZ', 'FLORES', '2', '9850', '2017']
['6767', 'FERNANDO', 'ROMERO', 'HERRERA', '4', '9850', '2019']
['5654', 'PABLO', 'ALONSO', 'GALLEGO', '1', '9850', '2019']
['4323', 'JORGE', 'GUTIERREZ', 'MARQUEZ', '2', '9850', '2020']
['2232', 'RAMON', 'NAVARRO', 'LEON', '1', '9850', '2016']
[['numero de trabajador', ' nombres', ' paterno', ' materno', ' horas extra', ' sueldo base', ' aÃ±o de ingreso'], ['2345', 'CARLOS', 'PEREZ', 'CASTILLO', '0', '9850', '2017'], ['5754', 'ANGEL', 'GOMEZ', 'GARRIDO', '1', '9850', '2020'], ['5345', 'JESUS', 'MARTIN', 'SANTOS', '2', '9850', '2016'], ['3267', 'DAVID', 'JIMENEZ', 'LOZANO', '2', '9850', '2017'], ['8765', 'PEDRO', 'RUIZ', 'GUERRERO', '2', '9850', '2017'], ['5454', 'DANIEL', 'HERNANDEZ', 'CANO', '3', '9850', '2018'], ['3456', 'ALEJANDRO', 'DIAZ', 'PRIETO', '2', '9850', '2018'], ['3445', 'MARIA', 'MORENO', 'MENDEZ', '1', '9850', '2018'], ['9088', 'ALBERTO', 'MU\x84OZ', 'CRUZ', '1', '9850', '2017'], ['8877', 'RAFAEL', 'ALVAREZ', 'FLORES', '2', '9850', '2017'], ['6767', 'FERNANDO', 'ROMERO', 'HERRERA', '4', '9850', '2019'], ['5654', 'PABLO', 'ALONSO', 'GALLEGO', '1', '9850', '2019'], ['4323', 'JORGE', 'GUTIERREZ', 'MARQUEZ', '2', '9850', '2020'], ['2232', 'RAMON', 'NAVARRO', 'LEON', '1', '9850', '2016']]
Sueldos
 aÃ±o de ingreso
2017
2020
2016
2017
2017
2018
2018
2018
2017
2017
2019
2019
2020
2016

In [111]:
class Trabajador:
  def __init_( self , nt , nom , pat , mat , h_extra , sueldo , anio_ingreso):
    self.num_trabajador = nt
    self.nombre = nom
    self.paterno = pat
    self.materno = mat
    self.horas_extra = h_extra
    self.seldo = sueldo
    self.anio_ingreso = anio_ingreso

  def __to_string__(self) -> str:
    return f"{self.num_trabajador}, {self.nombre}, {self.paterno}, {self.materno}, {self.horas_extra}, {self.sueldo}, {self.anio_ingreso}"

  def set_num_trabajador( self , nt):
    self.num_trabajador = nt
  def get_num_trabajador(self):
    return self.num_trabajador

  def set_nombre(self, nom):
    self.nombre = nom
  def get_nombre(self):
    return self.nombre

  def set_paterno(self, pat):
    self.paterno = pat
  def get_paterno(self):
    return self.paterno

  def set_materno(self, mat):
    self.materno = mat
  def get_materno(self):
    return self.materno

  def set_horas_extra(self, h_extra):
    self.horas_extra = h_extra
  def get_horas_extra(self):
    return self.horas_extra

  def set_sueldo(self, sueldo):
    self.sueldo = sueldo
  def get_sueldo(self):
    return self.sueldo

  def set_anio_ingreso(self, anio_ingreso):
    self.anio_ingreso = anio_ingreso
  def get_anio_ingreso(self):
    return self.anio_ingreso


trabajador1 = Trabajador()
trabajador1.set_num_trabajador(info[1][0])
trabajador1.set_nombre(info[1][1])
trabajador1.set_paterno(info[1][2])
trabajador1.set_materno(info[1][3])
trabajador1.set_horas_extra(info[1][4])
trabajador1.set_sueldo(info[1][5])
trabajador1.set_anio_ingreso(info[1][6])

trabajador2 = Trabajador()
trabajador2.set_num_trabajador(info[2][0])
trabajador2.set_nombre(info[2][1])
trabajador2.set_paterno(info[2][2])
trabajador2.set_materno(info[2][3])
trabajador2.set_horas_extra(info[2][4])
trabajador2.set_sueldo(info[2][5])
trabajador2.set_anio_ingreso(info[2][6])

trabajador3 = Trabajador()
trabajador3.set_num_trabajador(info[3][0])
trabajador3.set_nombre(info[3][1])
trabajador3.set_paterno(info[3][2])
trabajador3.set_materno(info[3][3])
trabajador3.set_horas_extra(info[3][4])
trabajador3.set_sueldo(info[3][5])
trabajador3.set_anio_ingreso(info[3][6])

trabajador4 = Trabajador()
trabajador4.set_num_trabajador(info[4][0])
trabajador4.set_nombre(info[4][1])
trabajador4.set_paterno(info[4][2])
trabajador4.set_materno(info[4][3])
trabajador4.set_horas_extra(info[4][4])
trabajador4.set_sueldo(info[4][5])
trabajador4.set_anio_ingreso(info[4][6])

trabajador5 = Trabajador()
trabajador5.set_num_trabajador(info[5][0])
trabajador5.set_nombre(info[5][1])
trabajador5.set_paterno(info[5][2])
trabajador5.set_materno(info[5][3])
trabajador5.set_horas_extra(info[5][4])
trabajador5.set_sueldo(info[5][5])
trabajador5.set_anio_ingreso(info[5][6])

trabajador6 = Trabajador()
trabajador6.set_num_trabajador(info[6][0])
trabajador6.set_nombre(info[6][1])
trabajador6.set_paterno(info[6][2])
trabajador6.set_materno(info[6][3])
trabajador6.set_horas_extra(info[6][4])
trabajador6.set_sueldo(info[6][5])
trabajador6.set_anio_ingreso(info[6][6])

trabajador7 = Trabajador()
trabajador7.set_num_trabajador(info[7][0])
trabajador7.set_nombre(info[7][1])
trabajador7.set_paterno(info[7][2])
trabajador7.set_materno(info[7][3])
trabajador7.set_horas_extra(info[7][4])
trabajador7.set_sueldo(info[7][5])
trabajador7.set_anio_ingreso(info[7][6])

trabajador8 = Trabajador()
trabajador8.set_num_trabajador(info[8][0])
trabajador8.set_nombre(info[8][1])
trabajador8.set_paterno(info[8][2])
trabajador8.set_materno(info[8][3])
trabajador8.set_horas_extra(info[8][4])
trabajador8.set_sueldo(info[8][5])
trabajador8.set_anio_ingreso(info[8][6])

trabajador9 = Trabajador()
trabajador9.set_num_trabajador(info[9][0])
trabajador9.set_nombre(info[9][1])
trabajador9.set_paterno(info[9][2])
trabajador9.set_materno(info[9][3])
trabajador9.set_horas_extra(info[9][4])
trabajador9.set_sueldo(info[9][5])
trabajador9.set_anio_ingreso(info[9][6])

trabajador10 = Trabajador()
trabajador10.set_num_trabajador(info[10][0])
trabajador10.set_nombre(info[10][1])
trabajador10.set_paterno(info[10][2])
trabajador10.set_materno(info[10][3])
trabajador10.set_horas_extra(info[10][4])
trabajador10.set_sueldo(info[10][5])
trabajador10.set_anio_ingreso(info[10][6])

trabajador11 = Trabajador()
trabajador11.set_num_trabajador(info[11][0])
trabajador11.set_nombre(info[11][1])
trabajador11.set_paterno(info[11][2])
trabajador11.set_materno(info[11][3])
trabajador11.set_horas_extra(info[11][4])
trabajador11.set_sueldo(info[11][5])
trabajador11.set_anio_ingreso(info[11][6])

trabajador12 = Trabajador()
trabajador12.set_num_trabajador(info[12][0])
trabajador12.set_nombre(info[12][1])
trabajador12.set_paterno(info[12][2])
trabajador12.set_materno(info[12][3])
trabajador12.set_horas_extra(info[12][4])
trabajador12.set_sueldo(info[12][5])
trabajador12.set_anio_ingreso(info[12][6])

trabajador13 = Trabajador()
trabajador13.set_num_trabajador(info[13][0])
trabajador13.set_nombre(info[13][1])
trabajador13.set_paterno(info[13][2])
trabajador13.set_materno(info[13][3])
trabajador13.set_horas_extra(info[13][4])
trabajador13.set_sueldo(info[13][5])
trabajador13.set_anio_ingreso(info[13][6])

trabajador14 = Trabajador()
trabajador14.set_num_trabajador(info[14][0])
trabajador14.set_nombre(info[14][1])
trabajador14.set_paterno(info[14][2])
trabajador14.set_materno(info[14][3])
trabajador14.set_horas_extra(info[14][4])
trabajador14.set_sueldo(info[14][5])
trabajador14.set_anio_ingreso(info[14][6])

In [119]:
class Empresa:  
  def __init__(self):
    for n in range (len(info)):
      print(f"El trabajador {n} tiene estos datos: {trabajador1} ")
      trabajador1 = trabajador(n)


    self.empleados = Array(14)
    for i in range (13):
     empleados.append[i](trabajador(i))

  def calcular_sueldos(self):
    print(trabajador1.get_sueldo * (2021 - trabajador1.get_anio_ingreso), (trabajador1.get_horas_extra * 276.5))
    print(trabajador2.get_sueldo * (2021 - trabajador2.get_anio_ingreso), (trabajador2.get_horas_extra * 276.5))
    print(trabajador3.get_sueldo * (2021 - trabajador3.get_anio_ingreso), (trabajador3.get_horas_extra * 276.5))
    print(trabajador4.get_sueldo * (2021 - trabajador4.get_anio_ingreso), (trabajador4.get_horas_extra * 276.5))
    print(trabajador5.get_sueldo * (2021 - trabajador5.get_anio_ingreso), (trabajador5.get_horas_extra * 276.5))
    print(trabajador6.get_sueldo * (2021 - trabajador6.get_anio_ingreso), (trabajador6.get_horas_extra * 276.5))
    print(trabajador7.get_sueldo * (2021 - trabajador7.get_anio_ingreso), (trabajador7.get_horas_extra * 276.5))
    print(trabajador8.get_sueldo * (2021 - trabajador8.get_anio_ingreso), (trabajador8.get_horas_extra * 276.5))
    print(trabajador9.get_sueldo * (2021 - trabajador9.get_anio_ingreso), (trabajador9.get_horas_extra * 276.5))
    print(trabajador10.get_sueldo * (2021 - trabajador10.get_anio_ingreso), (trabajador10.get_horas_extra * 276.5))
    print(trabajador11.get_sueldo * (2021 - trabajador11.get_anio_ingreso), (trabajador11.get_horas_extra * 276.5))
    print(trabajador12.get_sueldo * (2021 - trabajador12.get_anio_ingreso), (trabajador12.get_horas_extra * 276.5))
    print(trabajador13.get_sueldo * (2021 - trabajador13.get_anio_ingreso), (trabajador13.get_horas_extra * 276.5))
    print(trabajador14.get_sueldo * (2021 - trabajador14.get_anio_ingreso), (trabajador14.get_horas_extra * 276.5))


  def encontrar_mayor_ant(self): 
    
    for trab in info:
      print("El que lleva menos tiempo con ", max(trab[6]), "años, es: ", trab[6].index( max(trab[6])) )

    for trab in info:
      print("El que lleva más tiempo con ", min(trab[6]), "años, es: ", trab[6].index( min(trab[6])) )